.page-container {
  margin-left: 10%;
}

.section-header {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 50px;
}
.section-break {
  border-bottom: 5px solid rgb(69, 86, 235);
  margin-right: 10%;
  margin-bottom: 20px;
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  align-items: center;
}

.project-icon {
  height: 120px;
  pointer-events: none;
}

.project-item-icon {
  margin-right: 20px;
  margin-left: 20px;

}

.project-item-header {
  font-weight: bold;
  font-size: large;
}

.project-item-text {
  line-height: 30px;
  font-size: 15px;
  margin-right: 10%;
  margin-left: 5%;
  width: 900px;
}




.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  /* align-items: stretch; */
  height: 500px;
}

.info-text {
  flex-grow: 1;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 50%;

  line-height: 30px;
  font-size: 15px;
}

.info-projects {
  flex-grow: 2x;
  display: flex;
  flex-direction: column;
  margin: 2%;
  width: 500px;
}

.projects-item {

}

.xrp-logo {
  height: 150px;
  pointer-events: none;
}

.App-header {
  background-color: #e3edf4;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header {
  font-weight: bolder;
  /* font-size: calc(8px + 2vmin); */
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(47, 53, 53);
  margin-top: 60px;
}

.header-info {
  margin: 30px;
  font-size: calc(9px + 2vmin);
  /* font-weight: bold; */
  font-style: italic;
  font-size: larger;
  color: rgb(25 47 170);
}

.App-link {
  color: rgb(37, 67, 236);
  text-decoration: none;
  font-family: monospace;
}
.App-link:hover {
  color: rgb(134, 168, 243);
  text-decoration: underline;
}
.App-link:active {
  color: rgb(134, 168, 243);
  text-decoration: underline;
}

.coming-soon {
  font-weight: bolder;
  font-size: calc(5px + 2vmin);
  color: rgb(0, 6, 7);
  margin-bottom: 40px;
}




.meet-the-team-header {
  font-size: large;
  font-weight: bolder;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.meet-the-team-box {
  display: flex;
   flex-direction:row;
   flex-wrap: wrap;
   padding: 30px;
   justify-content: center;
   /* align-items: center; */
   /* background-color: rgb(90, 171, 237); */
   opacity: 0.8;
   min-height: 200px;
}
.image-item {
  margin: 5px;
  max-height: 40vh;
  max-width: 60vh;
}
.text-item {
  margin: 20px;
  width: 350px;
  line-height: 25px;
}

.keep-posted-container {
  background-color: rgb(69, 86, 235);
  height: auto;
}

.keep-posted-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 10px 10px 0 10px ;
  color: rgb(255, 255, 255);
}





